body{
    background-color: rgb(204, 197, 197);
}


.box {
    position: absolute;
    width: 400px;
    height: 230px;
    left:0;
    right: 0;
    top: 30%;
    margin: 0 auto;
    background-color: white;
}

h2{
    text-align: center;
}

ul li{
   list-style: none;
   padding-bottom: 10px;
}

ul li:hover {
    background: rgba(255, 255, 255, 0.884);
}

.myInput{
    margin-left: 35px;
    width: 70%;
    height: 10%;
}

.addBtn{
    height: 12%;
}

.close {
    margin-top: 9px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    padding: 7px 16px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: #bbb;}


  